google-cloud-bigquery==2.34.1
fastapi
uvicorn
pytest
python-dotenv
pandas
pyarrow
ipykernel
gunicorn
sqlalchemy
passlib
python-jose
bcrypt
python-multipart
keras
numpy
Pillow
scikit_image
starlette
tensorflow-cpu
protobuf
pydantic